<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="author" content="Marco de Jong">
  <meta name="robots" content="index, follow">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta name="theme-color" content="#444444"/>

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:type" content="website">
  {% if site.og_image %}
  <meta property="og:image" content="{{ site.og_image | absolute_url }}">
  {% endif %}

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  {% if site.twitter_username %}<meta name="twitter:site" content="@{{ site.twitter_username }}">{% endif %}
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.description | default: site.description }}">
  {% if site.og_image %}
  <meta name="twitter:image" content="{{ site.og_image | absolute_url }}">
  {% endif %}

  <link rel="preload" href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" as="style" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{{ '/css/app.css?v=' | append: site.github.build_revision | relative_url }}">
  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css" integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
