<div class="social-bar ui__center">
  <ul class="social-bar__list">
    <li class="social-bar__listitem">
      <a class="social-bar__link" href="https://twitter.com/marcodejong" rel="me" title="Twitter">
        <i class="fa fa-twitter social-bar__twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li class="social-bar__listitem">
      <a class="social-bar__link" href="https://github.com/marcodejong" rel="me" title="GitHub">
        <i class="fa fa-github social-bar__github" aria-hidden="true"></i>
      </a>
    </li>
    <li class="social-bar__listitem">
      <a class="social-bar__link" href="https://www.linkedin.com/in/marcojohndejong" rel="me" title="LinkedIn">
        <i class="fa fa-linkedin social-bar__linkedin" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Marco de Jong",
  "url" : "https://marco-dejong.nl",
  "sameAs" : [ "https://twitter.com/marcodejong",
      "https://github.com/marcodejong",
      "https://www.linkedin.com/in/marcojohndejong"]
}
</script>
