<div class="social-bar ui__center">
  <ul class="social-bar__list">
    <li class="social-bar__listitem">
      <a class="social-bar__link" href="https://www.linkedin.com/in/marcojohndejong" rel="me noopener noreferrer" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin-in social-bar__linkedin" aria-hidden="true"></i>
      </a>
    </li>
    <li class="social-bar__listitem">
      <a class="social-bar__link" href="https://github.com/marcodejong" rel="me noopener noreferrer" aria-label="GitHub">
        <i class="fa-brands fa-github social-bar__github" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Marco de Jong",
  "url" : "https://marco-dejong.nl",
  "sameAs" : [ "https://github.com/marcodejong","https://www.linkedin.com/in/marcojohndejong" ]
}
</script>
