<div class="social-bar">
  <ul class="social-bar__list">
    <li class="social-bar__listitem">
      <a class="social-bar__link" href="https://twitter.com/marcodejong" title="Twitter">
        <i class="fa fa-twitter social-bar__twitter" aria-hidden="true"></i>
      </a>
    </li>
    <li class="social-bar__listitem">
      <a class="social-bar__link" href="https://github.com/marcodejong" title="GitHub">
        <i class="fa fa-github social-bar__github" aria-hidden="true"></i>
      </a>
    </li>
    <li class="social-bar__listitem">
      <a class="social-bar__link" href="https://www.linkedin.com/in/marcojohndejong" title="LinkedIn">
        <i class="fa fa-linkedin social-bar__linkedin" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>