$black:#000000;
$white:#ffffff;
$tundora:#444444;
$dusty-gray:#999999;
$blue-chill:#0f9591;

$twitter: #55acee;
$instagram: #c13584;
$snapchat: #fffc00;
$linkedin: #0077b5;
$github: #666;

$sans: 'Raleway', Helvetica, Arial, sans-serif;

$margin-l: 75px;
$margin-m: 50px;
$margin-s: 35px;
$margin-xs: 17.5px;

$txt-xxxxxl: 4em;
$txt-xxxxl: 3.5em;
$txt-xxxl: 3em;
$txt-xxl: 2.75em;
$txt-xl: 2em;
$txt-l: 1.5em;
$txt-m: 1.25em;
$txt: 1rem;
$txt-sm: 0.75em;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: $sans;
  background: $black;
  background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(68, 68, 68));
  background-attachment: fixed;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  height:100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.ui__center {
  text-align: center;
}
.ui__emphasize {
  color:$blue-chill;
  font-weight:bold;
}
