$black:#000000;
$white:#ffffff;
$tundora:#444444;
$dusty-gray:#999999;
$blue-chill:#0f9591;

$instagram: #c13584;
$linkedin: #0077b5;
$github: #666;

$sans: 'Raleway', Helvetica, Arial, sans-serif;

$margin-l: 75px;
$margin-m: 50px;
$margin-s: 35px;
$margin-xs: 17.5px;

$txt-xxxxxl: 4em;
$txt-xxxxl: 3.5em;
$txt-xxxl: 3em;
$txt-xxl: 2.75em;
$txt-xl: 2em;
$txt-l: 1.5em;
$txt-m: 1.25em;
$txt: 1rem;
$txt-sm: 0.75em;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $sans;
  background: linear-gradient(to bottom, $tundora, $black) no-repeat top;
  background-attachment: fixed;
  background-size: 100% 200px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
blockquote {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 3px solid #0f9591;
}
.ui__img {
  max-width: 100%;
  display: block;
  height: auto;
}
.ui__center {
  text-align: center;
}
.ui__emphasize {
  color:$blue-chill;
  font-weight:bold;
}
