.header {
  align-items: center;
  background-color: $black;
  display: flex;
  height: 50px;
  left: 0;
  padding-left: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__circle {
  background-color: $blue-chill;
  border-radius: 50%;
  height: 25px;
  margin: 5px;
  width: 25px;
}
.header__title,
.header__subtitle {
  font-size: $txt-sm;
  font-family: $sans;
  font-weight: 400;
  line-height: 0.7em;
  @media all and (min-width: 375px) {
    font-size: $txt;
  }
}
.header__title {
  color: $white;
}
.header__subtitle {
  color: $dusty-gray;
}
