.landing {
  display: flex;
  flex-direction:column;
  padding:25px;
  @media all and (min-width:768px) {
    padding:0;
  }
}

.landing__title,
.landing__subtitle {
  font-size: $txt-l;
  font-family: $sans;
  font-weight: 400;
  line-height:0.7em;
  @media all and (min-width: 480px) {
    font-size: $txt-xl;
  }
  @media all and (min-width: 768px) {
    font-size: $txt-xxxl;
  }
}
.landing__title {
  color: $white;
  text-shadow: 0 1px 4px #000;
}
.landing__subtitle {
  color:$dusty-gray;
  margin-bottom:$margin-m;
  @media all and (min-width: 768px) {
    margin-bottom: $margin-l;
  }
}

.landing__image {
  background:transparent url('../img/marco-dejong.jpg');
  background-size: cover;
  border: 10px solid $blue-chill;
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
  @media all and (min-width:768px) {
    height: 280px;
    width: 280px;
  }
}
