.landing {
  background: $black;
  background: linear-gradient(45deg,$black,$tundora);
  background-attachment: fixed;
  height: 100%;
  padding:25px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @media all and (min-width:768px) {
    padding:0;
  }
}

.landing__content {
  text-align: center;
}

.landing__title,
.landing__subtitle {
  font-size: $txt-l;
  font-family: $sans;
  font-weight: 400;
  line-height:0.7em;
  @media all and (min-width: 480px) {
    font-size: $txt-xl;
  }
  @media all and (min-width: 768px) {
    font-size: $txt-xxxl;
  }
}
.landing__title {
  color: $white;
}
.landing__subtitle {
  color:$dusty-gray;
  margin-bottom:$margin-m;
  @media all and (min-width: 768px) {
    margin-bottom: $margin-l;
  }
}

.landing__image {
  background:transparent url('../img/marco-dejong.jpg');
  background-size: cover;
  border: 10px solid $blue-chill;
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
  @media all and (min-width:768px) {
    height: 280px;
    width: 280px;
  }
}
