.page {
  margin: auto;
  max-width: 500px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}
.page__content {
  color:$dusty-gray;
  line-height:1.618;
}
.page__content::selection {
  background-color:$blue-chill;
}
.page__content h1 {
  color:$white;
  text-shadow: 0 1px 4px #000;
}
.page__content h1::before {
  content: '';
  display: block;
  border-top: .25rem solid $blue-chill;
  width: 2rem;
}
.page__content p {
  text-shadow: 0 0 2px rgba(0,0,0,0.9);
}