.page {
  margin: auto;
  max-width: 540px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}
.page__content {
  color: $dusty-gray;
  line-height: 1.618;

  &::selection {
    background-color: $blue-chill;
  }
  h1 {
    color: $white;
    text-shadow: 0 1px 4px #000;
    &::before {
      content: "";
      display: block;
      border-top: 3px solid $blue-chill;
      width: 3rem;
    }
  }
  h2 {
    color: $blue-chill;
    margin-top: 2em;
  }
  strong {
    color: $white;
  }
  a {
    color: $blue-chill;
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
  }
}
