.social-bar {}

.social-bar__list {
  font-size: $txt;
  list-style: none;
  margin-bottom: $margin-s;
  margin-top: $margin-s/2;
  padding:0;
}

.social-bar__listitem {
  display: inline-block;
}

.social-bar__link {
  color: #fff;
  font-size: $txt-xxl;
  padding: 0 25px;

  &:hover {
    .social-bar__github {
      color: $github;
    }
    .social-bar__linkedin {
      color: $linkedin;
    }
    .social-bar__instagram {
      color: $instagram;
    }
  }
}
